<app-control-panel-btn id="1" icon="playlist_add" [selectedId] = "selectedId" 
    (clicked)="btnClicked($event)"></app-control-panel-btn>

<app-control-panel-btn id="2" icon="create" [selectedId] = "selectedId" 
    (clicked)="btnClicked($event)"></app-control-panel-btn>

    <app-control-panel-btn id="3" icon="business" [selectedId] = "selectedId" 
    (clicked)="btnClicked($event)"></app-control-panel-btn>

    <app-control-panel-btn id="4" icon="save" [selectedId] = "selectedId" 
    (clicked)="btnClicked($event)"></app-control-panel-btn>
