 
<mat-paginator [length]="resultsLength" [pageSize]="page_size" [pageSizeOptions]="[5, 10, 15, 20]">  </mat-paginator>

<mat-form-field class="full-width-input">
  <mat-label>Filter by name</mat-label>
  <input matInput type="text" [(ngModel)]="activeFilter">
  <button mat-button *ngIf="activeFilter" matSuffix mat-icon-button aria-label="Clear" (click)="activeFilter=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<button mat-icon-button #search>
  <mat-icon>search</mat-icon>
</button>
<button mat-icon-button routerLink="/edituser">
  <mat-icon>add_circle</mat-icon>
</button>
<div class="main-content">

  <mat-card *ngFor="let user of users" class="user-card">
    <mat-card-header>
      <mat-card-title>{{user.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="user.image_uri">
    <mat-card-content>
      <p>id: {{user._id}}</p>
      <p>cart: {{user.shopcart}}</p>
      <p>Login: {{user.login}}</p>
      <p>Role: {{user.role}}</p>
      <p>Password: {{user.password}}</p>
      <p>Email: {{user.email}}</p>
      <p>Phone: {{user.phone}}</p>

    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button routerLink="/edituser/{{user._id}}">
        <mat-icon>edit</mat-icon>
     </button>
    </mat-card-actions>
  </mat-card>
</div>
