<div class="card">
    <div class="par-name">
        <strong>id:&nbsp;</strong>
        <span>{{pntInfo._id}}</span>
    </div>
    <div class="par-name">
        <strong>Повна назва:&nbsp;</strong>
        <span>{{pntInfo.full_name}}</span>
    </div>
    <div class="par-name">
        <strong>Назва:&nbsp;</strong>
        <span>{{pntInfo.name}}</span>
    </div>
    <div class="par-name">
        <strong>Алиас:&nbsp;</strong>
        <span>{{pntInfo.short_name}}</span>
    </div>
    <div class="par-name">
        <strong>Тип:&nbsp;</strong>
        <span>{{pntInfo.type}}</span>
    </div>
    <div class="par-name">
        <strong>Min:&nbsp;</strong>
        <span>{{pntInfo.min}}</span>
    </div>
    <div class="par-name">
        <strong>Max:&nbsp;</strong>
        <span>{{pntInfo.max}}</span>
    </div>
    <div class="par-name">
        <strong>Шаг:&nbsp;</strong>
        <span>{{pntInfo.step}}</span>
    </div>
    <div class="par-name">
        <strong>Зона:&nbsp;</strong>
        <span>{{pntInfo.deadband}}</span>
    </div>
    <div class="par-name">
        <strong>Період надходження:&nbsp;</strong>
        <span>{{pntInfo.granularity}}</span>
    </div>
    <div class="par-name">
        <strong>Одиниці:&nbsp;</strong>
        <span>{{pntInfo.eu}}</span>
    </div>
    <div class="par-name">
        <strong>Функція:&nbsp;</strong>
        <span>{{pntInfo.func}}</span>
    </div>

</div>
