<!--
  <img src="assets\psg-logo.PNG" width="50" height="50">
-->

<mat-drawer-container [class.drawer-opened]="drawer.opened" class="example-container">
  <mat-drawer #drawer class="drawer" mode="side" opened="true">

    <mat-toolbar class="header">
      <div class="close-container">
        <!-- <div class="close-text">Меню</div> -->
        <img src="assets\utg-logo.png" width="auto" height="50">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;
        <mat-icon class="close-icon" (click)="drawer.close()">close</mat-icon>
      </div>            
    </mat-toolbar>
    <div class="contents">

      <app-tree-menu [root]="side_menu" (change)="pointChanged($event)"></app-tree-menu>

    </div>
  </mat-drawer>
  
  <mat-toolbar class="main header">
    <mat-toolbar-row>
    <mat-icon class="close-icon" *ngIf="!drawer.opened" (click)="drawer.toggle()">menu</mat-icon>
    
    <img *ngIf="!drawer.opened" src="assets\utg-logo.png" width="auto" height="50">

    <div class="ctrl-buttons " [class.fill-remaining-space]="!drawer.opened">

      <button mat-icon-button aria-label="AddNew" (click)="addClicked()">
        <mat-icon>add_to_photos</mat-icon>
      </button> 

      <button mat-icon-button aria-label="Update" (click)="updateClicked()">
        <mat-icon>autorenew</mat-icon>
      </button> 
 
      <button mat-icon-button aria-label="Excel" (click)="excelClicked()">
        <mat-icon>explicit</mat-icon>
      </button> 

      <button mat-icon-button aria-label="Save" (click)="saveClicked()">
        <mat-icon>save</mat-icon>
      </button> 

      <button mat-icon-button aria-label="Lock" (click)="unlockDataInput()">
        <mat-icon>cancel</mat-icon>
      </button> 

      <button mat-icon-button aria-label="Lock" (click)="lockDataInput()">
        <mat-icon>check_circle_outline</mat-icon>
      </button> 

    </div>


      <div class="dt-controls">
        
        <mat-icon class="icon" *ngIf="isInputBlocked">lock</mat-icon>
        <mat-icon class="icon" *ngIf="!isInputBlocked">lock_open</mat-icon>

        <input class="input-field" 
          type="date" id="gasday" name="gasday" 
          [value]="gasday" (change)="DateChanged($event)"> 

        <select class="input-field" id="time" name="time" [value]="gastime" (change)="TimeChanged($event)">
          <option value="00:00">00:00</option>
          <option value="01:00">01:00</option>
          <option value="02:00">02:00</option>
          <option value="03:00">03:00</option>
          <option value="04:00">04:00</option>
          <option value="05:00">05:00</option>
          <option value="06:00">06:00</option>
          <option value="07:00" selected>07:00</option>
          <option value="08:00">08:00</option>
          <option value="09:00">09:00</option>
          <option value="10:00">10:00</option>
          <option value="11:00">11:00</option>
          <option value="12:00">12:00</option>
          <option value="13:00">13:00</option>
          <option value="14:00">14:00</option>
          <option value="15:00">15:00</option>
          <option value="16:00">16:00</option>
          <option value="17:00">17:00</option>
          <option value="18:00">18:00</option>
          <option value="19:00">19:00</option>
          <option value="20:00">20:00</option>
          <option value="21:00">21:00</option>
          <option value="22:00">22:00</option>
          <option value="23:00">23:00</option>
        </select>

    </div> 
          

    <div class="ctrl-buttons">

        <label *ngIf="user$ | async; let user"> {{user.name}} </label>
  
        <button mat-icon-button aria-label="Account" [routerLink]="'/login'">
          <mat-icon>account_circle</mat-icon>
        </button>    
  
        <button mat-icon-button aria-label="Exit" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
        </button>  
    </div>

    </mat-toolbar-row>
  </mat-toolbar>

  <div class="main contents">        
    <app-loading></app-loading>
    <router-outlet></router-outlet>
    <!-- 22-06-2022
          <div style="height: 50px">&nbsp;</div>
    -->
    
  </div>

  <mat-toolbar class="main footer">    
    <img src="assets\psg-logo.PNG" width="auto" height="40">
    <div class="footer-div">{{currentDt}}</div>
    <div class="footer-div">ОАСК ПСГ 2.0</div>
  </mat-toolbar>
</mat-drawer-container> 

