<div style="height: 100vh;">

<mat-toolbar color="light">
  <mat-toolbar-row>

    <div fxShow="true" fxHide.lt-md="true">
    <!-- The following menu items will be hidden on both SM and XS screen sizes -->
    <!-- This fills the remaining space of the current row -->
    <span>

    </span>
  </div>

  <button mat-icon-button >
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span>

  <span class="fill-remaining-space">

    <mat-form-field  appearance="outline">             
        <input matInput type="date" id="gasday" name="gasday" [value]="gasday" (change)="DateChanged($event)">
      </mat-form-field>
      <span>
        &nbsp;&nbsp;
      </span>
        <mat-form-field  appearance="outline">
      <input matInput type="time" id="time" name="time" [value]="gastime" (change)="TimeChanged($event)">
    </mat-form-field>      

  </span>
    <span>
        <label *ngIf="user$ | async; let user"> {{user.name}} </label>

        <button mat-icon-button aria-label="Account" [routerLink]="'/login'">
          <mat-icon>account_circle</mat-icon>
        </button>
        

        <button mat-icon-button aria-label="Exit" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
        </button>

    </span>

  </mat-toolbar-row>
</mat-toolbar>

<app-loading></app-loading>

<mat-drawer-container autosize class="mat-drawer-container"> 

  <mat-drawer mode="side" opened class="mat-drawer">  

      <app-control-panel (clicked)="panelClick($event)"></app-control-panel>        
      
  </mat-drawer>

  <mat-drawer-content class="mat-drawer-content">        

    <router-outlet></router-outlet>
      
  </mat-drawer-content >

</mat-drawer-container>

</div>



