table {
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
  border:1px solid lightgray;
  }
  
  .mat-row{
    height: 24px;
  }
  .mat-header-row{
    height: 24px;
    background-color: bisque;
  }
  .mat-drawer {
    padding-right: 10px;
  }
  .mat-drawer-content {
    padding-left: 10px;
  }
  td, th {
    text-align: center;
    min-width: 75px;
    border:1px solid lightgray;
  }

  th.mat-header-cell {
    text-align: center !important;
  }