table {
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
  border:1px solid gray;
  }
  .mat-row{
    height: 24px;
  }
  .mat-header-row{
    height: 24px;
  }

  .mat-header-cell {
    min-width:100px;
    background-color: bisque;
    justify-content: left;
    font-size: medium;
    font-weight: bold;
    text-align: left;
  }
  .mat-drawer {
    padding-right: 10px;
  }
  .mat-drawer-content {
    padding-left: 10px;
  }