.table-title {
    font-size: 0.9em;
    margin: 10px;
}

.table-content table {
    border-collapse: collapse;
    margin: 5px 0;
    min-width: 400px;
    border: 1px solid #dddddd;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0.8em;
}

.table-content tbody tr {
    text-align: left;
}

.table-content td {
    border: 1px solid #dddddd;
    padding: 3px 3px;
}

.table-content .headcol {
    /* Background color */
    background-color: #ddd;

    /* Stick to the left */
    left: 0;
    position: sticky;

    /* Displayed on top of other rows when scrolling */
    z-index: 1;
}

